langchain
pinecone-client
openai
tiktoken
nest_asyncio
streamlit
PyPDF2
langchain_huggingface
langchain_community
langchain_chroma
langchain-huggingface
dotenv
starlette
fastapi
sentence-transformers
chromadb
huggingface_hub[hf_xet]
torch